.calculator-app {
  &__link {
    color: #61dafb;
  }

  &__holder {
    background-color: #414754;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    height: 600px;
    left: 50%;
    margin: -300px 0 0 -400px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 800px;
  }

  &__input {
    background-color: #efefef;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 40px;
    height: 80px;
    margin-bottom: 15px;
    text-align: right;
    width: 100%;
    position: relative;
  }

  &__button {
    background-color: #282c34;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    height: 85px;
    line-height: 85px;
    margin: 0 10px 10px 0;
    position: relative;
    text-align: center;
    user-select: none;
    width: 182px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:last-of-type {
      background-color: #3b879c;
      margin-right: 0;
    }

    &:first-of-type {
      background-color: #945d00;
    }

    &--double {
      width: 374px;
    }

    &--number {
      background-color: #333842;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  &__error {
    color: red;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 100%;
  }
}
